<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Urban Hires - Post a Job</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="static/assets/css/main.css" />
    <link rel="stylesheet" href="static/assets/css/hire.css" />
    <noscript><link rel="stylesheet" href="static/assets/css/noscript.css" /></noscript>
</head>
<body>
    <div class="form-container">
        <form action="{{ url_for('hire') }}" method="post">
            <h2>Post a Job</h2>
            <input type="text" name="jobtype" placeholder="Job Title" required>
            <textarea name="description" rows="5" placeholder="Job Description" required></textarea>
            <input type="text" name="location" placeholder="Location" required>
            <input name="time" type="text" placeholder="time">
            <input type="number" name="pay" placeholder="Salary" required>
            <button type="submit">Submit Job</button>
        </form>
        <a href="{{ url_for('my_jobs') }}" class="view-jobs-link">View My Posted Jobs</a>
    </div>
</body>
</html>
